* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}


/* NAVIGATION */

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px 0px 0px;
    position: absolute;
    width: 1360px;
    height: 50px;
    left: 75px;
    top: 28px;
}

.logo {
    position: static;
    width: 342px;
    height: 50px;
    left: 0px;
    top: 0px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    /* font-size: 45px; */
    line-height: 53px;
    color: #25AAF4;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 237px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 684px;
    height: 32px;
    left: 640px;
    top: 9px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 237px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1293px;
    height: 411px;
    left: 75px;
    top: 183px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}